body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
  background-image: url('../imagenes/campus.jpg');
  background-size: 100%;
}

header {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 20%;
  padding: 20px;
  margin-bottom: 40px;
}
  
.contenedor {
  position: relative;
  left: 37%;
  width: 400px;
  background-color: #6ea9a8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  opacity: 0;
    transform: translateY(0px);
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(40);
    }
}

  
h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.form-group {
  margin-bottom: 30px;
  margin-right: 20px;
}
  
label {
  display: block;
  margin-bottom: 5px;
}
  
input {
  width: 100%;
  padding: 8px;
  background-color: #dbe9e9;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  
.botones {
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
}

button {
  background-color: #ff7f7f;
  font-weight: bolder;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #000;
}

button:hover{
  background-color: #da5f61;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}