body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../imagenes/campus.jpg');
    background-size: 100%;
    color: #ffffff;
}

#contenedor {
    max-width: 100%;
    padding: 20px;
}

header {
    background-color:teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 20%;
    padding: 20px;
    margin-bottom: 40px;
}

header button {
    background-color: #ff7f7f;
    font-weight: bolder;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #000;
}

header button:hover {
    background-color: #da5f61;
    color: black;
}

#cuerpo {
    background-color: #6ea9a8;
    color: black;
    margin: 20px, 20px, 20px, 20px;
    padding: 20px;
    border: 2px solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    opacity: 0;
    transform: translateY(0px);
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(40);
    }
}

img {
    border-radius: 20px;
}

#informacion {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 100px;
    margin-right: 50px;
    text-align: justify;
}

h2 {
    margin-top: 40px;
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

#presentacion {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 125px;
}
