<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SvtCrearCuenta</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtCrearCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtMiCuenta</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtMiCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtIniciarSesion</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtCambiarDatos</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtCambiarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtOferta</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtResumen</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtResumen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtRealizandoPedido</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtRealizandoPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtFacultad</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtFacultad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtMisPedidos</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtMisPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtActualizarCafeteria</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtActualizarCafeteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtAgregarCafeteria</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtAgregarCafeteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtAgregarPlato</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtAgregarPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtAgregarOferta</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtAgregarOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtActualizarPlatos</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtActualizarPlatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtActualizarOferta</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtActualizarOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtActualizarEstado</servlet-name>
        <servlet-class>com.uvaeats.proyectossw.servlet.SvtActualizarEstado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCrearCuenta</servlet-name>
        <url-pattern>/SvtCrearCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtMiCuenta</servlet-name>
        <url-pattern>/SvtMiCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtIniciarSesion</servlet-name>
        <url-pattern>/SvtIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtCambiarDatos</servlet-name>
        <url-pattern>/SvtCambiarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtOferta</servlet-name>
        <url-pattern>/SvtOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtResumen</servlet-name>
        <url-pattern>/SvtResumen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtRealizandoPedido</servlet-name>
        <url-pattern>/SvtRealizandoPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtFacultad</servlet-name>
        <url-pattern>/SvtFacultad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtMisPedidos</servlet-name>
        <url-pattern>/SvtMisPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtActualizarCafeteria</servlet-name>
        <url-pattern>/SvtActualizarCafeteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtAgregarCafeteria</servlet-name>
        <url-pattern>/SvtAgregarCafeteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtAgregarPlato</servlet-name>
        <url-pattern>/SvtAgregarPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtAgregarOferta</servlet-name>
        <url-pattern>/SvtAgregarOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtActualizarPlatos</servlet-name>
        <url-pattern>/SvtActualizarPlatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtActualizarOferta</servlet-name>
        <url-pattern>/SvtActualizarOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtActualizarEstado</servlet-name>
        <url-pattern>/SvtActualizarEstado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
